<center><h2>How to use the GPU in Watson Studio</h2> </center>
<p></p>
<p></p>
<p>Navigate to your instance of Watson Studio using IBM Cloud by clicking <a id="link1" target="_blank" rel="noreferrer noopener">here</a></p>
<p></p>
<p></p>
<center><p><img src="1.png" width=750></p></center>
<p></p>
<p></p>
<p>To make sure that GPU is enabled on this isntance of Watson Studio press the plan button on the top left. You should see the check mark on the right associated with the Standard Plan which will allow you to use Nvidia GPU. You will need to upgrade if you are using a lite plan. </p>
<p><b>Note you can recieve a $200 credit when upgrading to to pay-go plan of IBM Cloud which you can use for 1 free month of the Watson Studio standard plan. You will need to provide a credit card but you will not be charged as long as you remain within the standard plan limits and cancel or downgrade to lite plan before the next billing cycle.</b></b></p>
<p></p>
<center><p><img src="2.png" width=750></p></center>
<p></p>
<p></p>
<p>Using the Manage button naviage back to the starting page and press the get started button. Select your project and follow the steps in the next section to download and import the lab.</p>
<p></p>
<p></p>
<center><p><img src="4.png" width=750></p></center>
<p></p>
<p></p>
<p>In the assets you can create a new notebook using an environment with a GPU. Press the new notebook button.</p>
<p></p>
<p></p>
<center><p><img src="5.png" width=750></p></center>
<p></p>
<p></p>
<p>Select the from file option to create your notebook and drag the in the notebook for the lab which can be downloaded <a id="link2" target="_blank" rel="noreferrer noopener">here</a> into the drag and drop area</p>
<p></p>
<p></p>
<center><p><img src="6a.png" width=750></p></center>
<p></p>
<p></p>
<p>Using the runtime selection select an environment with a GPU. These can be identified by the word GPU or Nvidia.</p>
<p></p>
<p></p>
<center><p><img src="6b.png" width=750></p></center>
<p></p>
<p></p>
<p>After selecting the GPU environment you can create the notebook by giving it a name and pressing create button on the bottom right:</p>
<p></p>
<p></p>
<center><p><img src="7a.png" width=750></p></center>
<p></p>
<p></p>
<p>You can also change the environment of an existing notebook to use a GPU:</p>
<p></p>
<p></p>
<center><p><img src="8 a.png" width=750></p></center>
<p></p>
<p></p>
<p>You may need to unlock the notebook to do this.</p>
<p></p>
<p></p>
<center><p><img src="8 b.png" width=750></p></center>
<p></p>
<p></p>
<p>You also may need to stop the kernel.</p>
<p></p>
<p></p>
<center><p><img src="10.png" width=750></p></center>
<p></p>
<p></p>
<p>After doing this you will see the option to change the environment.</p>
<p></p>
<p></p>
<center><p><img src="11.png" width=750></p></center>
<p></p>
<p></p>
<p>Change the environment to one that uses a GPU identified by the word GPU or Nvidia. Then press the associate button.</p>
<p></p>
<p></p>
<center><p><img src="12.png" width=750></p></center>
<p></p>
<p></p>
<p>The environment change has already been made. The change will be visible in the asset page after you edit the notebook. A GPU is now enabled in your Watson Studio instance and you may use it as if it was a personal GPU. For more info about the actual usage of the GPU use the notebook provided.</p>
<p></p>
<p></p>
<center><p><img src="13.png" width=750></p></center>

<script>
  (function() {
    var params = new URLSearchParams(window.location.search)
    if (params.has('link1')) {
      document.getElementById('link1').setAttribute('href', params.get('link1'));
    }

    if (params.has('link2')) {
      document.getElementById('link2').setAttribute('href', params.get('link2'));
     }
  })();
  </script>
